/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body{
	background-image: image-url("newsppr.jpg");
}

.jumbotron{
	
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}

.jumbotron h1{
	font-size: 100px;
	margin-top: 50px;
}

.jumbotron hr{
	width: 20%;
	margin: 2;
}

/*contents inside jumbotron*/
.btn-info{
	margin-left: -10px;
	margin-top: -5px;
	font-size: 20px;
}

.mainSearch{
	font-size: 30px;
	padding: 20px;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	display: inline;
}

.searchBox{
	margin: 50px 0;
	font-size: 30px;
}

.nav{
	margin: 0;
	border-radius: 0;
}

/*save button on main page*/
.list-group-item input{
	background-color: #2B8AD9;
	padding: 8px 15px;
	margin: 10px 0;
	color: white;
	font-size: 20px;
}

.saveTitle{
	text-align: center;
}

/*main page news results*/

.thumbnail{
	background-color: rgba(255, 255, 255, 0.85);
	width: 350px;
	height: 410px;
	float: left;
	margin: 10px 15px;
}

.thumbnail hr{
	margin: 10px 20px;
}

.thumbnail h3{
	margin-top: 0;
}

.thumbnail input{
	margin-top: 15px;
	background-color: #2B8AD9;
	padding: 4px 15px;
	/*margin: 10px 0;*/
	color: white;
	font-size: 15px;
}

/*.list-group-item{
	background-color: rgba(255, 255, 255, 0.9);
}*/


/*.nform{
	margin: 10px 50px;	
}*/

/*.btn{
	width: 25%;
	margin: 0 20px;
	font-size: 20px;
}*/

/*.btn-danger :a{
	font-color: white;
}*/